{% extends 'base.html.twig' %}

{% block title %}HRef - strona główna{% endblock %}

{% block body %}

    <div class="container container-fluid">
        <table class="table table-bordered">
            <tr style="background-color: lightgray;color:white">
                {% for i in structure %}
                    {% if i.level == 1 %}
                        {% if i.user != null %}
                            {% for j in user %}
                                {% if i.user == j.id %}
                                    <td style="text-align: center;" colspan="4"><a href="/structure/{{ i.id }}">{{ i.position }} {{ i.symbol }}</a><br>
                                        {{ j.id }} {{ j.username }} <br> {{ j.email }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if i.user == null %}
                            <td style="text-align: center;" colspan="4"><a href="/structure/{{ i.id }}">{{ i.position }} {{ i.symbol }}</a><br>
                                <p>Wakat</p></td>
                            {% endif %}                        
                        {% endif %}              
                    {%endfor %}
            </tr>
            <tr>
                <td style="text-align: center;" colspan="4">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </td>
            </tr>
            <tr style="background-color: lightgray;color:white">
                {% for i in structure %}
                    {% if i.level == 2 %}
                        {% if i.user != null %}
                            {% for j in user %}
                                {% if i.user == j.id %}
                                    <td style="text-align: center;" colspan="4"><a href="/structure/{{ i.id }}">{{ i.position }} {{ i.symbol }}</a><br>
                                        {{ j.id }} {{ j.username }} <br> {{ j.email }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if i.user == null %}
                            <td style="text-align: center;" colspan="4"><a href="/structure/{{ i.id }}">{{ i.position }} {{ i.symbol }}</a><br>
                                <p>Wakat</p></td>
                            {% endif %}                        
                        {% endif %}              
                    {%endfor %}
            </tr>

            <tr>
                <td style="text-align: center;" colspan="4">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </td>
            </tr>



            <tr style="background-color: lightgray;color:white">
                {% for i in structure %}
                    {% if i.level == 3 %}
                        {% if i.user != null %}
                            {% for j in user %}
                                {% if i.user == j.id %}
                                    <td style="text-align: center;" colspan="4"><a href="/structure/{{ i.id }}">{{ i.position }} {{ i.symbol }}</a><br>
                                        {{ j.id }} {{ j.username }} <br> {{ j.email }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if i.user == null %}
                            <td style="text-align: center;" colspan="4"><a href="/structure/{{ i.id }}">{{ i.position }} {{ i.symbol }}</a><br>
                                <p>Wakat</p></td>
                            {% endif %}                        
                        {% endif %}              
                    {%endfor %}
            </tr>


            <tr>
                <td style="text-align: center;" colspan="4">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </td>
            </tr>
            <tr style="background-color: lightgray;color:blue">
                <td style="text-align: center;" colspan="4">
                    Division
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </td>
                <td style="text-align: center;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </td>
                <td style="text-align: center;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </td>
                <td style="text-align: center;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </td>
            </tr>
            <tr style="background-color: lightgray;color:blue">
                {% for i in structure %}
                    {% if i.level == 4 %}              

                        <td style="text-align: center;"> {{ i.promoLine }}</td>

                    {% endif %}
                {%endfor %}
            </tr>

            <tr style="background-color: lightgray;color:white">
                {% for i in structure %}
                    {% if i.level == 4 %}
                        {% if i.user != null %}
                            {% for j in user %}
                                {% if i.user == j.id %}

                                    <td style="text-align: center;"><a href="/structure/{{ i.id }}">{{ i.position }} {{ i.symbol }}</a><br>
                                        {{ j.id }} {{ j.username }} <br> {{ j.email }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if i.user == null %}
                            <td style="text-align: center;"><a href="/structure/{{ i.id }}">{{ i.position }} {{ i.symbol }}</a><br>
                                <p>Wakat</p></td>
                            {% endif %}                        
                        {% endif %}              
                    {%endfor %}
            </tr>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </td>
                <td style="text-align: center;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </td>
                <td style="text-align: center;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </td>
                <td style="text-align: center;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <table class="table table-bordered">
                        {% for i in structure %}               
                            {% if i.level == 5 and i.superiorId == 4 %}
                                {% for j in user %}
                                    {% if i.user == j.id %}
                                        <tr style="background-color: lightgray;color:white"><td><a href="/structure/{{ i.id }}">{{ i.position }} {{ i.symbol }}</a><br> {{ j.email }}</td></tr>
                                {% endif %}
                                    {%endfor %}
                            {% endif %}
                        {%endfor %}
                    </table>
                </td>
                <td style="text-align: center;">
                    <table class="table table-bordered">
                        {% for i in structure %}               
                            {% if i.level == 5 and i.superiorId == 5 %}
                                {% for j in user %}
                                    {% if i.user == j.id %}
                                        <tr style="background-color: lightgray;color:white"><td><a href="/structure/{{ i.id }}">{{ i.position }} {{ i.symbol }}</a><br> {{ j.email }}</td></tr>
                                {% endif %}
                                    {%endfor %}
                            {% endif %}
                        {%endfor %}
                    </table>
                </td>
                <td style="text-align: center;">
                    <table class="table table-bordered">
                        {% for i in structure %}               
                            {% if i.level == 5 and i.superiorId == 6 %}
                                {% for j in user %}
                                    {% if i.user == j.id %}
                                        <tr style="background-color: lightgray;color:white"><td><a href="/structure/{{ i.id }}">{{ i.position }} {{ i.symbol }}</a><br> {{ j.email }}</td></tr>
                                {% endif %}
                                    {%endfor %}
                            {% endif %}
                        {%endfor %}
                    </table>
                </td>
                <td style="text-align: center;">
                    <table class="table table-bordered">
                        {% for i in structure %}               
                            {% if i.level == 5 and i.superiorId == 7 %}
                                {% for j in user %}
                                    {% if i.user == j.id %}
                                    <tr style="background-color: lightgray;color:white"><td><a href="/structure/{{ i.id }}">{{ i.position }} {{ i.symbol }}</a> {{ j.email }}</td></tr>
                                {% endif %}
                                    {%endfor %}
                            {% endif %}
                        {%endfor %}
                    </table>
                </td>
            </tr>



        </table>
    </div>
{% endblock %}


